%section.people
  %header
    %h2 People I Follow
  %table.table
    %thead
      %tr
        %th(width="30%")
        %th(width="20%") Videos in Queue
        %th(width="20%") Followers
        %th(width="30%") Unfollow
    %tbody
      - current_user.followings.each do |following|
        %tr
          %td
            %img(src="http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(following.follow.full_name.downcase)}?s=40")
            = link_to following.follow.full_name, following.follow
          %td.extra-padding= following.follow.queued_videos.count
          %td.extra-padding= following.follow.followings.count
          %td.extra-padding
            = link_to following_path(following), method: :delete, id: following.id do
              %i.glyphicon.glyphicon-remove
